/* Customization for deepintr */
h1 {
  color: #333;
  text-align: center;
}
.panel-title {
  color: #ff3333;
  font-weight: 500;
  background: url('https://deepintr.org/images/deepintr-typo-logo.svg') no-repeat center;
  background-size: contain;
  min-height: 35px;
  margin-top: 10px;
}
.panel-cover__description h1 {
  margin: 0 10px;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0;
}
.panel-inverted {
  color: #333;
}
.navigation-wrapper a {
  border-color: #333;
  color: #333;
}
.navigation-wrapper a:hover {
  border-color: #ff3333;
  color: #ff3333;
}
.user-image {
  border-radius: 50%;
  box-shadow: 0 0 10px gray;
}
.about-popup {
  padding: 0 30px 30px 30px;
  max-width: 600px;
}
.about-popup h2,
.about-popup h3,
.about-popup h4,
.about-popup p {
  font-family: 'Open Sans', sans-serif;
  color: #333;
}
.about-popup p {
  text-align: start;
}
.about-popup h2,
.about-popup h3,
.about-popup h4 {
  font-weight: 600;
}
.about-popup ul {
  list-style: none;
}
.about-popup a {
  color: #333;
  text-decoration: none;
  border-bottom: dashed 1px #ff3333;
}
.lang-select {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  padding: 20px;
}
.lang-select .lang-img {
  cursor: pointer;
  border-radius: 5px;
  width: 32px;
  height: 20px;
  object-fit: cover;
}
.lang-select .lang-img:hover {
  opacity: 0.75;
}
.lang-filter {
  opacity: 0.5;
}
.navigation--social .navigation__item {
  font-size: 1.25em;
}
#latest-threads h2 {
  color: #ff3333;
  font-size: 1.15em;
  font-weight: 600;
}
#latest-threads a {
  color: #333;
  display: block;
  font-weight: 600;
  padding: 8px 0;
  text-shadow: none;
}
#latest-threads a::before {
  content: '#';
  margin-right: 2px;
}
#latest-threads a:hover {
  color: #ff3333;
}
.panel-cover__divider--secondary {
  display: none;
}
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
@media all and (max-width: 980px) {
  .download-option,
  #latest-threads,
  .github-corner {
    display: none;
  }
  .panel-cover__divider--secondary {
    display: block;
  }
}
